@import "tailwindcss";

.xterm-viewport::-webkit-scrollbar { width: 12px; }
.xterm-viewport::-webkit-scrollbar-track { background: #020617; }
.xterm-viewport::-webkit-scrollbar-thumb { 
    background: #0f172a; 
    border: 2px solid #020617; 
    border-radius: 4px; 
}
.xterm-viewport::-webkit-scrollbar-thumb:hover { background: #1e293b; }
